{% extends 'admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>{{ title }}</h2>
        <ul class="tabs-btn tabs">
            <li><a class="tab active">Contenu</a></li>
            <li><a class="tab">Images</a></li>
        </ul>
        <div class="tab-panes">
            <div class="tab-pane active">
            <p><em>* Champs obligatoires</em></p>
            {{ form_start(form) }}
                {{ form_row(form.label, { 'row_attr': {'class': 'form-input'} }) }}
                {{ form_row(form.pos, { 'row_attr': {'class': 'form-input'} }) }}
                {{ form_row(form.title, { 'row_attr': {'class': 'form-input'} }) }}
                {{ form_row(form.images, { 'row_attr': {'class': 'form-input'} }) }}
                {{ form_row(form.content, { 'row_attr': {'class': 'form-input'}, 'value': content }) }}
                {{ form_row(form.submit) }}
            {{ form_end(form) }}
            </div>
            <div class="tab-pane">
                <h3>Gestion des images</h3>
                <p>Cliquez sur une image pour l'effacer. <strong>Attention, cette action est irréversible !</strong></p> 
                <div class="img-grid">
                {% for image in images %}
                    <figure class="img-del" data-id="{{ image.id }}">
                        <img src="../../../uploads/images/services/{{ image.imgname }}" alt="{{ image.imgname }}" />
                    </figure>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}