<table align="center" border="1" cellspacing="0" style="width:700px; background-color: #fff">
	<tbody>
		<tr>
			<td colspan="2"><img alt="" src="https://www.radiofrance.fr/s3/cruiser-production/2022/02/1b5f469a-e5f4-4159-a0ca-cf1a9371ef09/560x315_roses-bouquet-fleurs.webp" style="width: 700px; height: 281px; display: block;" /></td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 10px 10px 20px; background-color: rgb(45, 71, 87); color: white">
			<h1 style="text-align: center;"><span style="font-size:26px;"><span style="font-family:Verdana,Geneva,sans-serif;">Prise de contact depuis le formulaire du site Internet</span></span></h1>

			<p style="text-align: center;"><span style="font-family:Verdana,Geneva,sans-serif;">Vous avez reçu une nouvelle demande depuis le formulaire de contact de votre site Internet</span></p>
			</td>
		</tr>
		<tr>
			<td style="padding: 10px"><span style="font-family:Verdana,Geneva,sans-serif;">Identité</span></td>
			<td style="width: 50%; padding: 10px"><span style="font-family:Verdana,Geneva,sans-serif;">{{ nom }} {{ prenom }}</span></td>
		</tr>
		<tr>
			<td style="padding: 10px"><span style="font-family:Verdana,Geneva,sans-serif;">E-Mail</span></td>
			<td style="width: 50%; padding: 10px"><span style="font-family:Verdana,Geneva,sans-serif;"><a href="mailto:{{ mail }}">{{ mail }}</a> </span></td>
		</tr>
		<tr>
			<td style="padding: 10px"><span style="font-family:Verdana,Geneva,sans-serif;">Téléphone</span></td>
			<td style="width: 50%; padding: 10px"><span style="font-family:Verdana,Geneva,sans-serif;"><a href="tel:{{ tel }}">{{ tel }}</a> </span></td>
		</tr>
		<tr>
			<td style="padding: 10px"><span style="font-family:Verdana,Geneva,sans-serif;">Demande</span></td>
			<td style="width: 50%; padding: 10px"><span style="font-family:Verdana,Geneva,sans-serif;">{{ objet }}</span></td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 10px"><span style="font-family:Verdana,Geneva,sans-serif;">{{ message }}</span></td>
		</tr>
	</tbody>
</table>