<!DOCTYPE html>
<html 
    dir="ltr" 
    lang="{% block lang %}{% endblock %}" >
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="{% block desc %}{% endblock %}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <meta name="google-site-verification" content="YvHnFVF3ZMca-4x6lCtHZqODjhfrrO5XEiBF4pLI5kM" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tarteaucitronjs/1.11.0/css/tarteaucitron.min.css" integrity="sha512-An5uG5l2933DG8oK8mICT7TycnhhY2Ti1xVSj2XW/scxb0jRvE1kLUh8ECth38zr+MlE4LH3l5xblJ+Ns0JINg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="../uploads/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../uploads/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../uploads/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="../uploads/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="../uploads/images/favicon/safari-pinned-tab.svg" color="#2d4757">
        <link rel="shortcut icon" href="../uploads/images/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-TileImage" content="../uploads/images/favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="../uploads/images/favicon/browserconfig.xml">
        <meta name="theme-color" content="#2d4757">
    </head>
    <body
        {{ stimulus_controller('symfony/ux-swup/swup', {
            containers: ['#main', '#nav'],
            animationSelector: '[class*="transition-"]',
            theme: 'fade',
            animateHistoryBrowsing: true,
            cache: true,
            debug: false
        }) }}
        data-damping='{% block damping %}{% endblock %}'
        data-scrollimg='{% block scrollimg %}{% endblock %}'>

        {% include "webpages/blocks/header.html.twig" %}
        <div id="content">
            <div id="website">
                <main id="main">
                    {% block body %}{% endblock %}
                </main>
            </div>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('modernizr') }}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tarteaucitronjs/1.15.0/tarteaucitron.min.js" integrity="sha512-1t2Estaw36hVOgbIl4AdmTBbZapUqm08dH8xgoqQTBBpszCdw7nCidrLbNbHVKX4Hz67sLzTwMduMqI4hREXlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            {{ encore_entry_script_tags('tarteaucitronjs') }}
        {% endblock %}
    </body>
</html>
